flows.json
[
    {
        "id": "9b836c2854ef248f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6f09f222f013b726",
        "type": "mqtt in",
        "z": "9b836c2854ef248f",
        "name": "",
        "topic": "sensor/pot",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4c3cb37a344e4489",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "5468ae04dbfe871c",
                "800f53a972bbce58",
                "a588f91ccdaddd69"
            ]
        ]
    },
    {
        "id": "5468ae04dbfe871c",
        "type": "function",
        "z": "9b836c2854ef248f",
        "name": "function 1",
        "func": "let value = Number(msg.payload);\n\nif (value > 4085) {\n    let last = context.get(\"last\") || false;\n    if (!last) {\n        context.set(\"last\", true);\n        msg.payload = { value: value };\n        return msg;\n    }\n}\nif (value <= 4085) context.set(\"last\", false);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 100,
        "wires": [
            [
                "816bcd32da06b354"
            ]
        ]
    },
    {
        "id": "816bcd32da06b354",
        "type": "http request",
        "z": "9b836c2854ef248f",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://edy4ldcygrpshucvlqlonsstsq0imjpa.lambda-url.us-east-1.on.aws/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 240,
        "wires": [
            [
                "06cce39d6d22ea1c"
            ]
        ]
    },
    {
        "id": "06cce39d6d22ea1c",
        "type": "function",
        "z": "9b836c2854ef248f",
        "name": "LED",
        "func": "let r = JSON.parse(msg.payload);\nmsg.payload = JSON.stringify({ led: r.led });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 360,
        "wires": [
            [
                "db6144c0904bf3f7"
            ]
        ]
    },
    {
        "id": "db6144c0904bf3f7",
        "type": "debug",
        "z": "9b836c2854ef248f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 420,
        "wires": []
    },
    {
        "id": "800f53a972bbce58",
        "type": "ui_gauge",
        "z": "9b836c2854ef248f",
        "name": "",
        "group": "4bb96cba4086bf1b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Potentiometer",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 160,
        "y": 360,
        "wires": []
    },
    {
        "id": "a588f91ccdaddd69",
        "type": "influxdb out",
        "z": "9b836c2854ef248f",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 160,
        "y": 460,
        "wires": []
    },
    {
        "id": "4c3cb37a344e4489",
        "type": "mqtt-broker",
        "name": "",
        "broker": "locahohost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4bb96cba4086bf1b",
        "type": "ui_group",
        "name": "sensors",
        "tab": "",
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "77f7e870508eacec",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]
