flows.json
[
    {
        "id": "1e8e9b0f468f362b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2",
        "type": "mqtt-broker",
        "broker": "localhost",
        "port": "1883"
    },
    {
        "id": "bd9ad4f4b2fe8793",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7fdeda95ae513ed7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1",
        "type": "mqtt in",
        "z": "1e8e9b0f468f362b",
        "name": "penalty events",
        "topic": "silentzone/penalty",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7fdeda95ae513ed7",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 370,
        "y": 520,
        "wires": [
            [
                "3"
            ]
        ]
    },
    {
        "id": "3",
        "type": "json",
        "z": "1e8e9b0f468f362b",
        "name": "json",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 510,
        "y": 620,
        "wires": [
            [
                "4",
                "7"
            ]
        ]
    },
    {
        "id": "4",
        "type": "switch",
        "z": "1e8e9b0f468f362b",
        "name": "penalty check",
        "property": "payload.penalty_seconds",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "repair": false,
        "outputs": 1,
        "x": 600,
        "y": 740,
        "wires": [
            [
                "5"
            ]
        ]
    },
    {
        "id": "5",
        "type": "function",
        "z": "1e8e9b0f468f362b",
        "name": "lambda request",
        "func": "msg.url = 'https://bsk3mxhegwmijouzsnxzu7sk5m0aeojd.lambda-url.us-east-1.on.aws/';\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = {\n    message: \"🚨 Silent Zone Violation! +\" + msg.payload.penalty_seconds + \" seconds penalty\",\n    level: msg.payload.level,\n    total_penalty: msg.payload.total_penalty,\n    violations: msg.payload.violations\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 900,
        "wires": [
            [
                "6"
            ]
        ]
    },
    {
        "id": "6",
        "type": "http request",
        "z": "1e8e9b0f468f362b",
        "name": "call lambda",
        "method": "POST",
        "paytoqs": "ignore",
        "url": "https://bsk3mxhegwmijouzsnxzu7sk5m0aeojd.lambda-url.us-east-1.on.aws/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 910,
        "y": 940,
        "wires": [
            [
                "8"
            ]
        ]
    },
    {
        "id": "7",
        "type": "debug",
        "z": "1e8e9b0f468f362b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 580,
        "wires": []
    },
    {
        "id": "8",
        "type": "debug",
        "z": "1e8e9b0f468f362b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 840,
        "wires": []
    }
]